body{background-image: url(https://papers.co/wallpaper/papers.co-mo23-eye-of-space-star-galaxy-dark-flare-35-3840x2160-4k-wallpaper.jpg
    ); background-size: cover;}
header{color: white; font-size: xx-large; text-align: center; margin-top: 20px ;}
div{position:absolute;margin-left: 40%;margin-top: 16%;}
img.sun{border-radius: 99%; height:200px;}
a{text-decoration: none;}
h1{color:rgb(186, 175, 250);text-decoration: none;text-align:center;}
