body{background-image:url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4e0cc328008799.56e41b35c50a5.gif) ;}
h2{text-align: center; margin-top: 150px; font-size:50px; }
form{text-align:center;}
input{height: 40px; font-size:20px;}
